.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#login {
  margin: auto;
}

/* ////////////////////////////////// */

/* MAP CANVAS CSS */

#canvas-1 {
  z-index: 1;
  display: block;
  position: absolute;
  left: 0%;
  right: 0%;
  margin: 0 auto;
  border: 2px solid grey;
}

.canvas-grid {
  z-index: 0;
  font-size: 16px;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 0;
  /* background-color: rgb(237,237,237); */
  opacity: .15;
}

.canvas-grid-parent {
  font-size: 0;
}

.canvas-grid:hover {
  background: rgb(173,100,100)
}

#canvas-container {
  position: relative;
  margin: auto;
}

.table {
  z-index: 3;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 2px;
  /* Set the top equal to the side padding that the canvas grid has */
  margin: 0 auto;
  border-collapse: collapse;
}

#map-grid {
  margin: 0 auto;
  z-index: 2;
}


/* ////////////////////////////////// */

/* TILE MAP CSS  */

.right {
  position: absolute;
  right: 5%;
  z-index: 3;
}

#Page-1 {
  /* Scale image 1.5x so user can see it... */
  height: 384px;
  width: auto;
  z-index: 2;
}

/* CONTROLS TILEMAP GRID SIZING AND EFFECTS */

.tile-grid {
  width: 20px;
  height: 20px;
  padding: 1;
  border: 0;
}

.tile-grid:hover {
  background: rgb(173,216,230)
}

#tileMap-grid {
  margin: 0 auto;
}

.tileMap {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0;
}
/* ////////////////////////////////// */
