.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#frontpage {
  font-family: 'Roboto Condensed', sans-serif !important;
  position: absolute;
  left: 50%;
  top: 50%;
  align-items: center;
  margin-top: -275px;
  margin-left: -350px;
  width: 700px;
  height: 250px;
}

#login {
  display: inline-block;
  padding: 25px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.front-header-2{
  margin-bottom: 14px;
  margin-top: 10px;
}

#register {
  display: inline-block;
  padding: 25px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.signin {
  padding: 5px;
  width: 250px;
}

.password {
  padding: 5px;
  padding-bottom: 15px;
  width: 250px;
}

.center {
  margin: auto;
  width: 80%;
}

#DD {
  font-family: 'EB Garamond', serif;
  font-size: 32px;
  margin-bottom: 10px;
}

#M {
  font-family: 'EB Garamond', serif;
  font-size: 32px;
  margin-top: 10px;
}

.small.header {
  font-family: 'EB Garamond', serif;
  font-size: 32px;
}

#lobby {
  top: 50%;
}

.campaign {
  height: 150px;
  width: 23% !important;
}

#campaign-container {
  width: 80%;
  margin: 0 auto;
}

.two.buttons {
  margin: 0 auto !important;
}

.openc {
  margin: 0 auto !important;
  width: 47%!important;
  display: inline-block;
}

.open{
  height: 50px;
  /* margin: auto 3px 1px!important; */
  width: 100%!important;
}

.deletec {
  height: 50px;
  margin-right: 2px !important;
  width: 47%!important;
  display: inline-block;
}

.delete {
  height: 50px;
  /* margin: auto 3px 1px!important; */
  width: 100%!important;
}

#signout {
  float: right;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%
}

#options {
  width: 70%;
  height: 300px;
  position: relative;
  margin: 0 auto;
}

#create-campaign {
  position: absolute;
  left: 10%;
  top: 15%;
  display: inline-block;
}

#map-creator {
  position: absolute;
  display: inline-block;
  top: 25%;
  right: 10%;
}

#return-lobby {
  width: 150px;
  margin-top: 1%;
  margin-left: 90%;
  margin-right: 1%;
}

.options-header {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  margin-bottom: 0px;
}

#join {
  margin-bottom: 15px !important;
}
/* ////////////////////////////////// */

/* MAP CANVAS CSS */

#canvas-1 {
  z-index: 1;
  display: block;
  position: absolute;
  left: 0%;
  right: 0%;
  margin: 0 auto;
  visibility: hidden;
}

/* div.center.table:focus{
    outline: none;
} */

.canvas-grid-parent {
  font-size: 0;
}

.tile-grid-parent {
  font-size: 0;
}

.canvas-grid:hover {
  background: rgb(173,100,100)
}

#canvas-container {
  position: relative;
  margin: auto;
}

.table {
  z-index: 3;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 2px;
  /* Set the top equal to the side padding that the canvas grid has */
  margin: 0 auto 50px;
  border-collapse: collapse;
}

#map-grid {
  margin: 0 auto;
  z-index: 2;
}

#char-buttons {
  margin-left: 45%;
}

.character-tab {
  display: inline-block;
}

#logo {
  width: 200px;
  height: auto;
  position: absolute;
  top: -50px;
  left: -25px;
}

.campaign-creation {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

#campaign-password {
  margin-bottom: 10px !important;
}

#entering-password-submit {
  margin-left: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ////////////////////////////////// */

/* TILE MAP CSS  */

.right {
  position: absolute;
  right: 3%;
  z-index: 3;
  padding: 15px;
  border: 1px solid;
  border-radius: 15px;
  background: white;
}

.save {
  margin-bottom: 10px !important;
}

  .canvas-grid {
    z-index: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    border: 0;
    background-color: rgb(237,237,237);
    opacity: .25;
  }

  #Page-1 {
    /* Scale image 1.5x so user can see it... */
    height: 384px;
    width: auto;
    z-index: 2;
  }

  .tile-grid {
    width: 24px;
    height: 24px;
    padding: 1;
    border: 0;
  }

  .tile-card {
    height: 384px !important;
    width: auto !important;
  }

  /* #banner: {
    height: 600px;
  } */

@media (max-width: 1500px) {

  #banner {
    height: 450px;
  }

  .tile-card{
    height: 224px !important;
  }

  .canvas-grid {
    z-index: 0;
    width: 14px;
    height: 14px;
    padding: 0;
    border: 0;
    background-color: rgb(237,237,237);
    opacity: .2;
  }

   .tile-grid {
     width: 14px;
     height: 14px;
     padding: 1;
     border: 0;
   }
   #Page-1 {
     height: 224px;
     width: auto;
     z-index: 2;
   }

   #character-sheet{
     width: 90%;
     margin: 0 auto !important;
   }

 }


/* CONTROLS TILEMAP GRID SIZING AND EFFECTS */
/*
  .tile-grid {
    width: 12px;
    height: 12px;
    padding: 1;
    border: 0;
  } */


.tile-grid:hover {
  background: rgb(173,216,230)
}

#tileMap-grid {
  margin: 0 auto;
}

.tileMap {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0;
  z-index: 3
}

#erase {
  margin-bottom: 25px;
  z-index: 4;
}

.arrows {
  bottom: 25%;
  /* position: absolute; */
  margin-left: 90%;
  margin-bottom: 30px;
  z-index: 4;
}

#rightarrow{
  right: 2%;
  position: absolute;
  z-index: 4;
}

#leftarrow{
  left: 2%;
  position: absolute;
  z-index: 4;
}
/* ////////////////////////////////// */

/* MAP LIST */

#map-list {
  position: absolute;
  left: 2%;
  top: 20%;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid;
  border-radius: 15px;
  background: white;
  width: 20%;
  z-index: 4;
}

.map {
  width: 225px !important;
  margin: 25px auto 25px !important;
}

.map-button {
  width: 75px !important;
  margin: 10px 10px !important;
}

/* ////////////////////////////////// */

/* CHARACTER SHEETS */

#character-sheet{
  width: 90%;
  margin: 3% auto;
}

input[type=number] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: right;

}

#first-top {
  height: 830px;
}

#first-top-left {
  width: 30%;
  height: 100%;
  float: left;
}

#first-top-right {
  width: 70%;
  float: right
}

#first-bottom {
  margin-top: 10px;
}

/* 375 width */

.singlestat {
  width: 100% !important;
  height: 14% !important;
  margin-bottom: 25px !important;
}

.skillcontent {
  padding: 7px !important;
}

.modifier {
  bottom: 0px !important;
}

.modifierheader {
  margin-bottom: 5px !important;
}

.savingthrow {
  width: 230px !important;
  float: right;
  margin-left: 25px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.savingthrow-checkbox {
  float: left;
  margin-left: 10px;
}

.column-one {
  width: 30%;
  height: 100%;
  display: inline-block;
  float:left;
}

.skills {
  width: 230px !important;
  float: right;
  margin-left: 25px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.skill-checkbox {
  float: left;
  margin-left: 10px;
  margin-top: 0px !important;
}

.inspiration {
  float: right;
  margin-left: 25px !important;
  width: 230px !important;
  height: 75px;
  margin-bottom: 10px !important;
}

.proficiency {
  width: 230px !important;
  height: 75px;
  float: right;
  margin-left: 25px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.passive_wisdom {
  width: 100% !important;
}

.other_proficiencies {
  width: 100% !important;
  height: 200px ;
  margin-top: 25px !important;
}

.notes {
  background: transparent;
  border: none;
  width: 100%;
  height: 150px;
  background-attachment: local;
  background-image:
    linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
  padding: 8px 10px;
}

.column-two {
  margin-left: 25px;
  width: 30%;
  height: 100%;
  display: inline-block;
  margin: 0 auto;
}

.armorclass {
  width: 32% !important;
  height: 75px !important;
  float: left;
  margin-left: 1% !important;
  margin-bottom: 5px !important;
}

.initiative {
  float:left;
  margin-top: 0px !important;
  margin-left: 1% !important;
  width: 32% !important;
  height: 75px !important;
  margin-bottom: 5px !important;
}

.speed {
  float: left;
  margin-top: 0px !important;
  width: 32% !important;
  height: 75px !important;
  margin-left: 1% !important;
  margin-bottom: 10px !important;
}

.singlestat.hit-points {
  float:right;
  width: 100% !important;
  height: 90px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.temp_hit_points {
  float: right;
  width: 100% !important;
  height: 75px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.hit-dice {
  float: left;
  width: 47% !important;
  height: 100px !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}

.deathsaves {
  float: right;
  width: 47% !important;
  height: 100px !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}

.deathsaves-content {
  width: 100% !important;
  padding-top: 0 !important;
  float: left;
  margin-left: 10px;
}

#successes {
  float: left;
  margin-left: 20%;
}

#deaths {
  float: left;
  margin-left: 20%;
}

.attacks_spellcasting {
  width: 100% !important;
  height: 350px !important;
  margin-bottom: 5px !important;
  margin-top: 10px !important;
}

.as {
  width: 33% !important;
  float:left;
}

.as.column {
  margin-top: 5px;
  height: 33%;
}

.as.field {
  width: 95% !important;
  margin-bottom: 5px !important;
  margin: 0 auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.attacks_spellcasting-notes {
  height: 200px;
}

.equipment {
  width: 100%!important;
  height: 395px;
  float: right;
}

.equipment-notes {
  height: 350px;
}

.column-three {
  margin-left: 25px;
  width: 30%;
  height: 100%;
  display: inline-block;
  float: right;
  margin: 0 auto;
}

.personality_traits {
  width: 100% !important;
  height: 200px !important;
}

.ideals {
  width: 100% !important;
  height: 200px !important;
}

.bonds {
  width: 100% !important;
  height: 200px !important;
}


.features_traits {
  width: 100% !important;
  height: 500px !important;
}

.features_traits-notes {
  height: 450px;
}

.sheet-header {
  margin-top: 25px !important;
  width: 100% !important;
}

.header-field {
  height: 45px;
  margin: 5px;
  width: 24% !important;
  float: left;
}

.header-input {
  width: 100%;
  margin-bottom: 5px !important;
  margin: 0 auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.charsheet {
  margin: 0 auto !important;
}
