.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#login {
  margin: auto;
}

.center {
  margin: auto;
}

/* ////////////////////////////////// */

/* MAP CANVAS CSS */

#canvas-1 {
  z-index: 1;
  display: block;
  position: absolute;
  left: 0%;
  right: 0%;
  margin: 0 auto;
  visibility: hidden;
}

.canvas-grid-parent {
  font-size: 0;
}

.tile-grid-parent {
  font-size: 0;
}

.canvas-grid:hover {
  background: rgb(173,100,100)
}

#canvas-container {
  position: relative;
  margin: auto;
}

.table {
  z-index: 3;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 2px;
  /* Set the top equal to the side padding that the canvas grid has */
  margin: 0 auto;
  border-collapse: collapse;
}

#map-grid {
  margin: 0 auto;
  z-index: 2;
}


/* ////////////////////////////////// */

/* TILE MAP CSS  */

.right {
  position: absolute;
  right: 5%;
  z-index: 3;
}

  .canvas-grid {
    z-index: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    border: 0;
    background-color: rgb(237,237,237);
    opacity: .25;
  }

  #Page-1 {
    /* Scale image 1.5x so user can see it... */
    height: 384px;
    width: auto;
    z-index: 2;
  }

  .tile-grid {
    width: 20px;
    height: 20px;
    padding: 1;
    border: 0;
  }

@media (max-width: 1500px) {

  .canvas-grid {
    z-index: 0;
    width: 14px;
    height: 14px;
    padding: 0;
    border: 0;
    background-color: rgb(237,237,237);
    opacity: .25;
  }

   .tile-grid {
     width: 14px;
     height: 14px;
     padding: 1;
     border: 0;
   }
   #Page-1 {
     height: 224px;
     width: auto;
     z-index: 2;
   }

   #character-sheet{
     width: 90%;
     margin: 0 auto;
   }

 }


/* CONTROLS TILEMAP GRID SIZING AND EFFECTS */
/*
  .tile-grid {
    width: 12px;
    height: 12px;
    padding: 1;
    border: 0;
  } */


.tile-grid:hover {
  background: rgb(173,216,230)
}

#tileMap-grid {
  margin: 0 auto;
}

.tileMap {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0;
}

#erase {
  bottom: 25%;
  position: absolute;
  right: 5%;
  z-index: 3;
}
/* ////////////////////////////////// */

/* MAP LIST */

#map-list {
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 4;
}

/* ////////////////////////////////// */

/* CHARACTER SHEETS */

#character-sheet{
  width: 90%;
  margin: 0 auto;
}

input[type=number] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: right;

}

#first-top {
  height: 830px;
}

#first-top-left {
  width: 30%;
  height: 100%;
  float: left;
}

#first-top-right {
  width: 70%;
  float: right
}

#first-bottom {
  margin-top: 10px;
}

#first-bottom-center {

}

/* 375 width */

.singlestat {
  width: 100% !important;
  height: 14% !important;
  margin-bottom: 25px !important;
}

.skillcontent {
  padding: 7px !important;
}

.modifier {
  bottom: 0px !important;
}

.modifierheader {
  margin-bottom: 5px !important;
}

.savingthrow {
  width: 230px !important;
  float: right;
  margin-left: 25px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.savingthrow-checkbox {
  float: left;
  margin-left: 10px;
}

.column-one {
  width: 30%;
  height: 100%;
  display: inline-block;
  float:left;
}

.skills {
  width: 230px !important;
  float: right;
  margin-left: 25px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.skill-checkbox {
  float: left;
  margin-left: 10px;
  margin-top: 0px !important;
}

.inspiration {
  float: right;
  margin-left: 25px !important;
  width: 230px !important;
  height: 75px;
  margin-bottom: 10px !important;
}

.proficiency {
  width: 230px !important;
  height: 75px;
  float: right;
  margin-left: 25px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.passive-wisdom {
  width: 100% !important;
}

.other-proficiencies {
  width: 100% !important;
  height: 200px ;
  margin-top: 25px !important;
}

.notes {
  background: transparent;
  border: none;
  width: 100%;
  height: 150px;
  background-attachment: local;
  background-image:
    linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
  padding: 8px 10px;
}

.column-two {
  margin-left: 25px;
  width: 30%;
  height: 100%;
  display: inline-block;
  margin: 0 auto;
}

.armorclass {
  width: 32% !important;
  height: 75px !important;
  float: left;
  margin-left: 1% !important;
  margin-bottom: 5px !important;
}

.initiative {
  float:left;
  margin-top: 0px !important;
  margin-left: 1% !important;
  width: 32% !important;
  height: 75px !important;
  margin-bottom: 5px !important;
}

.speed {
  float: left;
  margin-top: 0px !important;
  width: 32% !important;
  height: 75px !important;
  margin-left: 1% !important;
  margin-bottom: 5px !important;
}

.singlestat.hit-points {
  float:right;
  width: 100% !important;
  height: 90px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.temp-hit-points {
  float: right;
  width: 100% !important;
  height: 75px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.hit-dice {
  float: left;
  width: 47% !important;
  height: 100px !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}

.deathsaves {
  float: right;
  width: 47% !important;
  height: 100px !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}

.deathsaves-content {
  width: 100% !important;
  padding-top: 0 !important;
  float: left;
  margin-left: 10px;
}

#successes {
  float: left;
  margin-left: 20%;
}

#deaths {
  float: left;
  margin-left: 20%;
}

.attacks-spellcasting {
  width: 100% !important;
  height: 350px !important;
  margin-bottom: 5px !important;
  margin-top: 10px !important;
}

.as {
  width: 33% !important;
  float:left;
}

.as.column {
  margin-top: 5px;
  height: 33%;
}

.as.field {
  width: 95% !important;
  margin-bottom: 5px !important;
  margin: 0 auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.attacks-spellcasting-notes {
  height: 200px;
}

.equipment {
  width: 100%!important;
  height: 395px;
  float: right;
}

.equipment-notes {
  height: 350px;
}

.column-three {
  margin-left: 25px;
  width: 30%;
  height: 100%;
  display: inline-block;
  float: right;
  margin: 0 auto;
}

.personality-traits {
  width: 100% !important;
  height: 200px !important;
}

.ideals {
  width: 100% !important;
  height: 200px !important;
}

.bonds {
  width: 100% !important;
  height: 200px !important;
}


.features-traits {
  width: 100% !important;
  height: 500px !important;
}

.features-traits-notes {
  height: 450px;
}

.sheet-header {
  margin-top: 25px !important;
  width: 100% !important;
}

.header-field {
  height: 45px;
  margin: 5px;
  width: 24% !important;
  float: left;
}

.header-input {
  width: 100%;
  margin-bottom: 5px !important;
  margin: 0 auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.charsheet {
  margin: 0 auto !important;
}
